.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #9dce38;
    font-size: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}

.logout-button {
  background: none;
  border: none;
  color: #0077cc;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  margin-left: 1rem;
}

.logout-button:hover {
  text-decoration: underline;
}


.header-container a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-container a:hover {
    color: #0077cc;
    text-decoration: underline;

}

.header-container a.active {
    border-bottom: 2px solid #0077cc;
    color: #0077cc;
}

.logo-container {
    height: 55px;
    width: 55px;
    display: flex;
}

.nav-links {
    display: flex;
    gap: 2rem;

}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 18px;
}

.nav-links a:hover {
    color: #0077cc;
}

.nav-links a.active {
    border-bottom: 2px solid #0077cc;
    color: #0077cc;
}


/* responsive layput for mobile */
@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .nav-links a {
        font-size: 16px;
        width: 100%;
        display: block;
    }
}

.logout-button {
  background-color: #9ecc1a;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #7ba809;
}